<% if @items.length == 0  %>
    <br />
    <h2>There are currently no products in this category</h2>
<% end %>

<p id="notice"><%= notice %></p>
<div id="itemsContainer">
<h1>Items</h1>
    <% @items.each do |item| %>
        <div class="entry">
            <h2><%= item.title %></h2>
            <%= link_to (image_tag item.image_url), item %>
            
            <p><%= sanitize(item.description) %></p>
            <p class="tag">Lecturer: </p><%= item.lecturer %>
            <p class="tag">Price: </p>
            <span class="price"><%= number_to_currency(item.price, :unit => "€ ") %></span>
            <p class="tag">Category: </p><%= item.category %>
            
            <% if user_signed_in? %>
            <p>        
                <a href="/cart/<%= item.id %>" class="button">Add to Cart</a>  
                <%= link_to 'Show', item, :class =>"button", :role=>"button" %>
                <% if current_user.try(:admin?) %> 
                <%= link_to 'Edit', edit_item_path(item), :class =>"button", :role=>"button" %>
                <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button", :role=>"button" %>
                <% end %>
            </p>
            <% end %>
        </div>
    <% end %>
<br>
