<p id="notice"><%= notice %></p>
<h1>My Profile</h1>
<h3>User Details</h3>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.surname %></td>
        <td><%= user.address %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
      </tr>
      <% if user.firstname.nil? || user.surname.nil? || user.address.nil? || user.phone.nil? %>
        <p>Feel free to add missing details in your profile.</p>
      <% end %>
    <% end %>
  </tbody>
</table>
<% unless current_user.try(:admin?) %>
<h3>My Orders</h3>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>User Id</th>
      <th>Status</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.order_date.strftime("%F %T") %></td>
        <td><%= order.user_id %></td>
        <td><%= order.status %></td>
        <td><%= order.updated_at.strftime("%F %T") %></td>
        <td><span class="button"><%= link_to 'Show', order %></span></td>
        <% if current_user.try(:admin?) %>
            <td><%= link_to 'Edit', edit_order_path(order) %></td>
            <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% end %>
