<h1>Cart</h1>
<%# <p>Find me in app/views/cart/index.html.erb</p> %>
<% if @cart.empty? %>
    <p>You have not added any items yet</p>
<% end %>

<p id="notice"><%= notice %></p>

<div id="itemsContainer">
    <table id="customers">
        <% total = 0 %>
        <% @cart.each do |id, quantity| %>
        
        <% item = Item.find_by_id(id) %>
        
        <tr>
            <td>
                <div class="image">
                    <%= link_to (image_tag item.image_url, :style =>"height:40px"), item %>
                </div>
            </td>
            <td class="title">
                <%= link_to item.title, item %>
            </td>
            <td>
                <span class="button"><a href="/cart/remove/<%= item.id %>">Remove From Cart</a></span>
            </td>
            <td class="price">
                <%= number_to_currency(item.price, :unit =>"€") %>
            </td>
            <td class="quantity">
                Qty:
                <%= quantity %>
            </td>
            <td class="price">
                Sub Total:
                <%= number_to_currency(quantity * item.price, :unit =>"€") %>
            </td>
        </tr>
        <tr>
            <% total += quantity * item.price %>
            <% @linetotal = total %>
        </tr>
            <% end %>
        <tr>
            Total: <%= number_to_currency(total, :unit => "€") %>
        </tr>
        
        <% if @cart.empty? %>
            <h4>Your cart is currently empty</h4>
            <span class="button"><%= link_to "Add some Products", '/items' %></span>
        <% else %>
        <br />
        <br />
            <span class="button"><a href="/checkout/<%= @linetotal %>">Checkout</a></span><span>&emsp;</span>
            <span class="button"><%= link_to "Continue shopping", '/items' %></span><span>&emsp;</span>
            <span class="button"><%= link_to "Clear Cart", '/cart/clear' %></span>
            <pre></pre><p>Your items:</p>
        <% end %>
    </table>
</div>
