<p id="notice"><%= notice %></p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date.strftime("%F %T") %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>
<% if current_user.try(:admin?) %>
<span class="button"><%= link_to 'Edit', edit_order_path(@order) %></span>
|<% end %>
<span class="button"><%= link_to 'Back', orders_path %></span>

<div id="itemsContainer">

<p id="notice"><%= notice %></p>
<h2>Order Details</h2>
<table id="customers">
  <tr>
    <td>Order date:</td>
    <td>Ordered By</td>
    <td>Order Status:</td>
  </tr>
  
  <tr>
    <td><%= @order.order_date.strftime("%F %T") %></td>
    <td><%= @order.user_id %></td>
    <td><%= @order.status %></td>
    
  </tr>

  </table>

<h2>Order Items</h2>

 <table id="customers">
    <% @orderitems.each do |orderitem| %>
      <tr>
        <td>Created at</td>
        <td>Title</td>
        <td>Order id</td>
      </tr>
      <tr>
        <td><%= orderitem.created_at.strftime("%F %T") %></td>
        <td><%= orderitem.title %></td>
        <td><%= orderitem.order_id %></td>
      </tr>
      <tr>
        <td><b>Total Price</b></td>
      </tr>
      <tr>
        <% @linetotal = orderitem.price * orderitem.quantity %>
        <td><%= number_to_currency(orderitem.price * orderitem.quantity, :unit => "€") %></td>
      </tr>
    <% end %>
  </table>
      
</div>

<% unless @order.status.start_with?('Paid') %>
  <span class="button"><a href="/checkout/<%= @linetotal %>">Checkout</a></span>
  <span class="button"><%= link_to 'Cancel Order', @order, method: :delete %></span>
<% end %>