<p id="notice"><%= notice %></p>

<h1>Items</h1>

<% if current_user.try(:admin?) %>
  <h3>Feel free to add some more products!</h3>
<% end %>

<table>
  <tbody>
    <% @items.each do |item| %>
      <div class="entry">
        <%= image_tag(item.image_url) %>
        <h3><%= item.title %></h3>
        <p><%= sanitize(item.description) %></p>
        <p class="tag">Lecturer: </p><%= item.lecturer %>
        <p class="tag">Price: </p>
        <span class="price"><%= number_to_currency(item.price, :unit => "€ ") %></span>
        <p class="tag">Category: </p><%= item.category %>
        <% if user_signed_in? %>
        <% unless current_user.try(:admin?) %>
        <a href="/cart/<%= item.id %>" class= "button"> Add to Cart</a>
        <% end %>
        <span class="button"><%= link_to 'Show', item %></span>
        <% end %>
        <% if current_user.try(:admin?) %>
          <span class="button"><%= link_to 'Edit', edit_item_path(item) %></span>
          <span class="button"><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.try(:admin?) %>
  <span class="button"><%= link_to 'New Item', new_item_path %></span>
<% end %>




<% if false %>
<tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.lecturer %></td>
        <td><%= item.price %></td>
        <td><%= item.image_url %></td>
        <td><%= item.category %></td>
        <td><%= item.skill_level %></td>
        <td><a href="/cart/<%= item.id %>" class= "button"> Add to Cart</a></td>
        <td><%= link_to 'Show', item %></td>
        <% unless user_signed_in? %>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      
      
<% end %>