<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Lecturer:</strong>
  <%= @item.lecturer %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @item.image_url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Skill level:</strong>
  <%= @item.skill_level %>
</p>

<% if current_user.try(:admin?) %>
<span class="button"><%= link_to 'Edit', edit_item_path(@item) %></span> |
<% end %>
<span class="button"><%= link_to 'Back', items_path %></span>
<%#= link_to 'Add to Cart', {:controller => 'cart', :action => 'add', :param => @item.id} %>
