<%= stylesheet_link_tag "popular" %>

<table>
  <tbody>
    <% @items.limit(3).order(:id).each do |item| %>
      <div class="entry">
        <%= image_tag(item.image_url) %>
        <h3><%= item.title %></h3>
        <p><%= sanitize(item.description) %></p>
        <p class="tag">Lecturer: </p><%= item.lecturer %>
        <p class="tag">Price: </p>
        <span class="price"><%= number_to_currency(item.price, :unit => "€ ") %></span>
        <% if user_signed_in? %>
        <a href="/cart/<%= item.id %>" class= "button"> Add to Cart</a>
        <span class="button"><%= link_to 'Show', item %></span>
        <% end %>
        <% if current_user.try(:admin?) %>
          <span class="button"><%= link_to 'Edit', edit_item_path(item) %></span>
          <span class="button"><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </div>
    <% end %>
  </tbody>
</table>
