<!DOCTYPE html>
<html>
  <head>
    <title>CodeWorld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- The following clears the current item qty and sub total that displays through all pages
  when the user signs out -->
  <% unless user_signed_in? %>
    <% @@totalqty = 0 %>
    <% @@totalDisplayed = 0 %>
  <% end %>
  <!-- The following deals with class variable initialization issues -->
  <% unless @@totalqty ||= 0 && @@totalDisplayed ||= 0 %>
    <% @items = 0 %>
    <% @total = 0 %>
  <% else %>
    <% @items = @@totalqty %>
    <% @total = @@totalDisplayed %>
  <% end %>
  <p style="text-align:right;">Cart Items: <%= @items %> | 
    SubTotal: <%= number_to_currency(@total, :unit => "€ ") %></p>
  <header class="headSec">
    <ul>
      <li class="logo"><%= link_to t('.codeWorld'), '/home' %></li>
      
      <% if user_signed_in? %>
        <li>
          <a href="https://a36a883947b94457b231ac5604f5b6f9.vfs.cloud9.us-east-2.amazonaws.com/profile">
            <%=t('.hi')%> <%= current_user.email %>
          </a>
        </li>
      <% end %>
      
      <% if user_signed_in? %>
        <li><%= link_to t('.logout'), destroy_user_session_path, :method => :delete %></li>
      <% unless current_user.try(:admin?) %>
        <li><%= link_to t('.view_orders'), orders_path %></li>
        <li><%= link_to t('.cart'), cart_path  %></li>
      <% end %>
        <li><%= link_to t('.view_profile'), '/profile' %></li>
        <li><%= link_to t('.edit_details'), edit_user_registration_path %></li>
        
      <% else %>
        <li><%= link_to t('.register'), new_user_registration_path %></li> 
        <li><%= link_to t('.login'), new_user_session_path %></li>
      <% end %>
      
      <% if current_user.try(:admin?) %>
        <li><%= link_to "View Orders", '/adorders' %></li>
        <li><%= link_to "Users", '/users' %></li>
      <% end %>
      
        <li><%= link_to t('.items'), '/items' %></li>
      <% if current_user.try(:admin?) %>
        <li style="color:#1a1aff;padding-top:14px;font-weight:bold;">Admin Session</li>
      <% end %>
      <% unless current_user.try(:admin?) %>
        <li><%= link_to t('.contact'), '/contacts/new' %></li>
        <li><%= link_to t('.about'), '/about' %></li>
        <li><%= link_to t('.home'), '/home' %></li>
      <% end %>

    </ul>
    
  </header>
  <%# Language Switcher %>
  <%= form_tag index_path, class: 'locale' do %>
    <%= select_tag 'set_locale',
      options_for_select(LANGUAGES, I18n.locale.to_s),
      onchange: 'this.form.submit()' %>
    <%#= submit_tag 'submit' %>
    <%= javascript_tag "$('.locale input').hide()" %>
  <% end %>

  <body>
    <div class="busqueda">
    <%=render 'layouts/search'%>
    </div>
    <%= yield %>
    </div>
  </body>
  
  <footer class="foot">
    <p><%= t('.social') %></p>
    <p><%= t('.copyright') %></p>
    <% if current_user.try(:admin?) %>
      <%= link_to 'New Category', new_category_path, :class =>"button", :role=>"button" %>
    <% end %>
  </footer>
</html>
