<!DOCTYPE html>
<html>
  <head>
    <title>CodeWorld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header class="headSec">
    <ul>
      <li class="logo"><%= link_to "CodeWorld", '/home' %></li>
      
      <% if user_signed_in? %>
        <li>
          <a href="https://a36a883947b94457b231ac5604f5b6f9.vfs.cloud9.us-east-2.amazonaws.com/users/edit">
            Hi <%= current_user.email %>
          </a>
        </li>
      <% end %>
      
      <% if user_signed_in? %>
        <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
      <% unless current_user.try(:admin?) %>
        <li><%= link_to "View Orders", orders_path %></li>
        <li><%= link_to "Cart", cart_path  %></li>
      <% end %>
        <li><%= link_to 'View Profile', '/profile' %></li>
        <li><%= link_to 'Edit Details', edit_user_registration_path %></li>
        
      <% else %>
        <li><%= link_to 'Register', new_user_registration_path %></li> 
        <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
      
      <% if current_user.try(:admin?) %>
        <h4>Your session is an Admin Session</h4>
        <li><%= link_to "View Orders", '/adorders' %></li>
      <% end %>
      
      <li><%= link_to "Items", '/items' %></li>
      <% unless current_user.try(:admin?) %>
        <li><%= link_to "Contact", '/contacts/new' %></li>
        <li><%= link_to "About", '/about' %></li>
        <li><%= link_to t('.home'), '/home' %></li>
      <% end %>

    </ul>
    
  </header>
  <%# Language Switcher %>
  <%= form_tag index_path, class: 'locale' do %>
    <%= select_tag 'set_locale',
      options_for_select(LANGUAGES, I18n.locale.to_s),
      onchange: 'this.form.submit()' %>
    <%#= submit_tag 'submit' %>
    <%= javascript_tag "$('.locale input').hide()" %>
  <% end %>

  <body>
    <div class="busqueda">
    <%=render 'layouts/search'%>
    </div>
    <%= yield %>
    </div>
  </body>
  
  <footer class="foot">
    <p>Social Media</p>
    <p>Copyright © 2018 CodeWorld Inc. All rights reserved.</p>
    <% if current_user.try(:admin?) %>
      <%= link_to 'New Category', new_category_path, :class =>"button", :role=>"button" %>
    <% end %>
  </footer>
</html>
